body{
    background-image: url(assets/568501.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    /* take 100 percent of the height */
    min-height: 100vh;
    align-items: center;

    overflow: hidden;
}

.clock-container{

    backdrop-filter: blur(5px);

    /* tale 100 percent of the width */
    width: 100vw;
    padding: 10px;

}

.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px black;
    text-align: center;
}